/**
 * Includes the footer links.
 */

footer {
  flex-shrink: 0;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  color: #ffffff;
  background-color: #000;

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .max-width-1080 {
    max-width: 1080px;
  }

  .bottom-text-footer {

    p {
      margin: 0;
      padding: 0;
      padding-bottom: 0px;
      border: 0;
      outline: 0;
      font-size: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      vertical-align: baseline;
      background: transparent;
      text-align: left;
      line-height: 1.8em;
      font-family: 'graphik-regular', Helvetica, Arial, Lucida, sans-serif;
      font-size: 12px;
      word-wrap: break-word;
      font-weight: 500;

      a {
        color: #fff;
      }
    }
  }

  .external-logo {
    div {
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      width: auto;

      &:first-child {
        text-align: left;

      }

      &:last-child {
        text-align: right;

        img {
          height: 25px !important;
        }

      }

      

      span {
        display: inline-block;

        width: 106px;
        max-height: 30px;

        img {
          width: auto;
          height: auto;
          margin-left: auto !important;
          margin-right: auto !important;


        }

        .force-height {
          height: 25px !important;
        }
      }
      @include smaller-than($m) {
        text-align: center !important;
        width: 100%;

        span {
          width: 130px;
          max-height: 30px;
          .force-height {
            height: 50px !important;
            img {
              width: 150px;
            }
            
          }
        }
        &:last-child {
          text-align: right;
  
          img {
            height: 50px !important;
          }
  
        }
      }

    }


  }

  .border-bottom-line {
    border-bottom: 1px solid #fff;
  }

  .logo-image {
    width: 153px;
    height: auto;
    padding-left: 0px;
  }

  .footer-social {



    ul {
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 0em;

      .icon-border-left {
        padding-left: 5px;
        border-left: 1px solid #fff;
      }

      .icon-border-right {
        padding-left: 15px;
        padding-right: 3px;

      }

      li {
        list-style: none;
        display: inline-block;

        a {
          color: #fff;
          margin-left: .2em;

          .lab,
          .las {
            font-size: 1.8em;
          }

          .text-phone {
            bottom: 4px;
            position: relative;
            margin-left: 5px;
            font-size: 1.3em;
          }

        }
      }
    }
  }

  #foot-links {
    a {
      color: #ffffff;
      margin-left: .2em;

      i {
        color: #ffffff;
      }
    }

    h3 {
      font-size: 1.2em;
      font-weight: bold;
      color: #ffffff;
    }
  }

}




body.flexbox footer {
  display: none;
}